.post-list-heading{
  text-align: center;
}

.about-img-container{
  width: 70%;
}

.container_image {
  position: relative;
  color: white;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 100%;

}

/* Centered text */
.centered {
  /* overflow: hidden; */
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px
}

.site-nav {
  position: fixed;
}

.container {
  padding: 1rem 1rem 1rem 1rem;
  border: 1.5px solid black;
  margin: 1rem 1rem 1rem 1rem;
}
